body{
	/*background-image: url("photos/krivina_still2.jpg");*/
	background-repeat: no-repeat;
	background-size: cover; 
}


h1{
	color: black;
	line-height: 1.1;
	padding: 20px 0;
	text-align: center;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

h3{
	color: black;
	margin-top: 0;
	margin-bottom: 0;
}

h4{
	color: black;
	margin-top: 0;
	margin-bottom: 0;	
}
nav{
	height: 30px;
	text-align: center;
	outline: none;

}

button{
	outline: none;
}


.movieButton{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
  	grid-gap: 10px;
  	grid-template-areas: 
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  	align-items: justify;
	position: fixed;
	bottom: 2.5%;
	left:1.5%;
	/*border-color: black;
	border:solid;*/
	@include transition(
    opacity 500ms linear,
    visibility 0s linear 500ms
	
}
.movieButton:hover > div.movieButton{
	visibility: visible;
	@include transition(
    opacity 500ms linear,
    visibility 0s linear 500ms)
}

#movieButton1:hover{
	opacity: .50; 
}
