nav {
    
    position: fixed;
    width: 100%;
    background-color: #0CA5B0;
    text-align: center;
    margin-bottom: 20px;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size: 50px;

}

#nav a:hover{
    color: grey;
}

a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-family: 'Cormorant Garamond';
    color: #eee;
}

#email{
    color: black;
}
html {
    height: 100%;
    background-color: #F4F4F4;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img{
    -moz-box-shadow: 3px 3px 4px #444;
    -webkit-box-shadow: 3px 3px 4px #444;
    box-shadow:  3px 3px 4px #444;
}
img:hover{
    opacity: 0.5;
}

h1 {
    color: #0CA5B0;
    font-family: 'Cormorant Garamond';
    /*border-bottom: 3px solid #e66c7e;*/
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 35px;
    margin-bottom: 57px;
    text-align: center;
    text-indent: 24px;
    text-transform: uppercase; 
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

}

h2{
    padding-left: 20px;
    font-family: 'Cormorant Garamond';
}

h3{
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    font-family: 'Cormorant Garamond';
}
#h3{
    color:black;
}

h4{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}
p { 
    color: #eee; 
    font-family: 'Droid Sans', sans-serif; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
    margin: 0 0 14px;
    float: left;
    width: 300px;
    padding-left: 20px;
    padding-top: 5px;
    text-align: justify;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*#bioPicImg{  
    height: 408px;
    width: 616px;
}*/

#footer{
	color: black;

}
.section {
    height: 100%;
    margin-bottom:20px;

}
.filmSection{
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-position:center; 
}
.movieButton{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
    align-items: justify;
    position: absolute;
    bottom: 2.5%;
    left:1.5%;
    overflow: scroll;
    width: 100%
}
#movieDescription1{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
#movieDescription2{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
#movieDescription3{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
#movieDescription4{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
#movieDescription5{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
#movieDescription6{
    margin-top: -250px;
    visibility: hidden;
    color: white;
    position: absolute;
}
.playButton{
    text-align: center !important;
    display: inline-block;
    width: 100%;
    visibility: hidden;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 12em;
}

.playButton:hover{
	opacity: 0.5;
}
#bio{
    color: black;
    font-family: 'Cormorant Garamond';
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto 48px;
    float: none;
    text-align: justify;
}

.reel{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
    display: block;
}

#name{
    text-transform: none;
}

#contactPage{
    max-width:700px;
    width:100%;
    margin:0 auto;
    position:relative;
}
#emailPhone{
    color: black;
    font-family: 'Cormorant Garamond';
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto 48px;
    float: none;
    text-align: center;
}
.contact-form{
    max-width:700px;
    width:100%;
    margin:0 auto;
    position:relative;
    box-sizing: content-box;
    display: inline-block;
    float: none;
    line-height: 20px;
    position: static;
    z-index: auto;
    align-items: center;
}
.form-left{
    width: 273px;
    margin-right: 14px;
    font-size: 1em;
    color: #363636;
    box-sizing: content-box;
    display: block;
    float: left;
    position: static;
    z-index: auto;
}
/*#contact_name{
    box-sizing: border-box;
    display: block;
    float: left;
    line-height: 25px;
    position: static;
    z-index: auto;
}*/

input{
    line-height: 26px;
    width: 280px;
    box-sizing: border-box;
    z-index: auto;
    position: static;
    display: block;
    border-top: 1px solid #c2c2c2;
}
textarea {
    width: 400px;
    height: 130px;
    line-height:24px;
    padding-top: 10px;
    padding-bottom: 0px;
    float: right;
    margin: 0 0 25px 0;
    border-top: 1px solid #c2c2c2;
    border-left: 0px
    border-right: 0px;
    border-bottom: 0px;
    padding: 11px 0px 11px 10px;
    display: inline-block;
    font-size: 1.25em;
    box-sizing: border-box;
    position: relative;
}

.submit-row{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 1em;
    align-items: center;
}

/* Extra small devices */
@media(max-width:544px){
    
}
/* Small devices */
@media(min-width:544px){
    
}
/* Medium devices */
@media(min-width:768px){
    
}
/* Large devices */
@media(min-width:992px){
    .playButton{
        padding-bottom:20px;
        font-size:7em;
    }
}
/* Exrta Large devices */
@media(min-width:1200px){
    
}